<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:replace="~{fragments :: head}"></th:block>
<title></title>
</head>
<body>
	
		
		<div class="container d-flex justify-content-center  ">
		
		<div class="card " style="width: 40rem;">
	 		 <img th:src="${pizza.getFoto()}" class="card-img-top" alt="pizza">
	  		<div class="card-body">
	    		<h5 th:text="${pizza.getNome()}" class="card-title"></h5>
	    		<p th:text="${pizza.getDescrizione()}" class="card-text"></p>
	  		</div>
	  		<ul class="list-group list-group-flush">
	    	<li th:text="'Prezzo:' +' '+${pizza.getPrezzo()}+ '€'" class="list-group-item"></li>
	    
	  		</ul>
  
		</div>
			
			
		</div>
		
		<h3>offerte:</h3>
		<p th:if="${pizza.offerte.size()==0}">non ci sono offerte</p>
		
		<div class="col-12">
		
		<a class="btn btn-success my-5" th:href="@{|offerte/create?pizzaId=${pizza.id}|}" >Crea Offerta</a>

	<table th:if="${pizza.offerte.size()>0}" class="table">
		<thead>
			<tr>
				<td>Id</td>
				<td>offerta</td>
				<td>inizio</td>
				<td>fine</td>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="offerta : ${pizza.offerte}">
				<td th:text="${offerta.id}"></td>
				<td th:text="${offerta.titolo}"></td>
				<td th:text="${#temporals.format(offerta.inizioOff,'dd/MM/yyyy')}"></td>
				<td th:text="${#temporals.format(offerta.fineOff,'dd/MM/yyyy')}"></td>
				
			</tr>
		</tbody>
	</table>
	</div>
		
		
		
		


<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
