<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:replace="~{fragments :: head}"></th:block>


<title>Pizzeria bella Napoli</title>
</head>
<body>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>

<div class="container">
		<div>
			<a th:href="@{/create}"> <button type="button" class="btn btn-outline-secondary"> <i class="fa-solid fa-plus"></i> Crea Pizza </button></a>
		</div>
    	
    	<form method="GET" action="" class="row d-flex justify-content-center " style="padding:10px; margin:10px; ">
 
		  <div class="col-auto ">
		    <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Inserire pizza da ricercare..">
		  </div>
		  <div class="col-auto">
		   <input class="btn btn-outline-secondary" type="submit" value="Invia">
		  </div>
		</form>
		
		




<table class="table table-hover align-middle container">
  <thead class="table-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">nome</th>
      <th scope="col">descrizione</th>
      <th scope="col">Foto</th>
       <th scope="col">Prezzo</th>
       <th></th>
       <th></th>
    </tr>
  </thead>
  
  <tbody class="table-group-divider">
  
  
  <tr th:each ="pizza: ${elencoPizze}">
      <th scope="row"> <a th:text="${pizza.id}" th:href="@{/pizze/{id}(id=${pizza.getId()})}"></a>   </th>
      <td> <a th:text="${pizza.nome}" th:href="@{/{id}(id=${pizza.getId()})}"></a> </td>
      <td th:text="${pizza.descrizione}" ></td>
      <td><img th:src="@{${pizza.foto}}" width="100"></td>
      <td th:text="${pizza.prezzo}+'€'"></td>
      <td>
				<form action="#" th:action="@{'/delete/{id}'(id=${pizza.id})}" method="post">
					<button class="btn btn-outline-danger" type="submit" id="submitButton">
						<i class="fas fa-trash-alt"></i>
					</button>
				
				</form>
				</td>
				<td>
				<a class="btn btn-outline-secondary" th:href="@{'/edit/{id}'(id=${pizza.id})}"> <i class="fa-regular fa-pen-to-square"></i> </a>
				</td>
      	
      	
      	
    </tr>
  
    
    
   
  </tbody>
  
 
</table>

<h4 th:if="${elencoPizze.size ()== 0}" class="text-center"> non ci sono pizze al momento</h4>

</div>


 		

</body>
</html>