<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:replace="~{fragments :: head}"></th:block>
<title>Create page</title>
</head>
<body>
<div class="container">

		<div>
			<a th:href="@{/pizze}"> <button type="button" class="btn btn-primary">Menù</button></a>
		</div>

	<form id="ingrediente-form" th:object="${ingrediente}" th:action="@{/ingredienti/create}" method="post">
		
		
		
		<div class="mb-3">
  			<label for="nome" class="form-label">Nome ingrediente</label>
  			<input type="text" class="form-control" id="nome" th:field="*{nome}" th:errorClass="is-invalid" placeholder="Nome ingrediente">
  			
  			<div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
			<ul>
			   <li th:each="err : ${#fields.errors('nome')}" th:text="${err}"></li>
			</ul>
  			</div>
  			
  			
		</div>
	
		
		<div class="mb-3 row d-flex " >
  			<button class="btn btn-primary justify-content-center" type="submit">Crea ingrediente</button>
		</div>
		
		
		
	</form>
	

</div>

</body>
</html>