<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:replace="~{fragments :: head}"></th:block>


<title>Pizzeria bella Napoli</title>
</head>
<body>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>

<div class="container">
		<div>
			<a th:href="@{/ingredienti/create}"> <button type="button" class="btn btn-outline-secondary"> <i class="fa-solid fa-plus"></i> aggiungi ingredienti </button></a>
		</div>
    	
    	
		




<table class="table table-hover align-middle container">
  <thead class="table-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">nome</th>
       <th></th>
       <th></th>
    </tr>
  </thead>
  
  <tbody class="table-group-divider">
  
  
  <tr th:each ="ingrediente: ${elencoIngredienti}">
      <th scope="row" th:text="${ingrediente.id}"></th>
      <td th:text="${ingrediente.nome}" ></td>      
      <td>
				<form action="#"  method="post">
					<button class="btn btn-outline-danger" type="submit" id="submitButton">
						<i class="fas fa-trash-alt"></i>
					</button>
				
				</form>
				</td>
				<td>
				<a class="btn btn-outline-secondary">  <i class="fa-regular fa-pen-to-square"></i> </a>
				</td>
      	
      	
      	
    </tr>
  
    
    
   
  </tbody>
  
 
</table>

<h4 th:if="${elencoIngredienti.size ()== 0}" class="text-center"> non ci sono ingredienti al momento</h4>



</div>


 		

</body>
</html>