<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>elenco pizze</title>
</head>
<body>
    <div class="container">
		
		
		<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/pizze}">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-link active" th:href="@{pizze/create}"> <button type="button" class="btn btn-outline-secondary"> <i class="fa-solid fa-plus"></i> Crea Pizza </button></a>
                    <a class="nav-link" th:href="@{/ingredienti/create}"> <button type="button" class="btn btn-outline-secondary"> <i class="fa-solid fa-plus"></i> aggiungi ingredienti </button></a>
                    <a class="nav-link" th:href="@{/ingredienti}"> <button type="button" class="btn btn-outline-secondary">  ingredienti </button></a>
                </div>
                </div>
            </div>
        </nav> -->
    	
    	<!-- <form method="GET" action="" class="row d-flex justify-content-center " style="padding:10px; margin:10px; ">
 
		  <div class="col-auto ">
		    <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Inserire pizza da ricercare..">
		  </div>
		  <div class="col-auto">
		   <input class="btn btn-outline-secondary" type="submit" value="Invia">
		  </div>
		</form> -->
		
		




<table class="table table-hover align-middle container">
  <thead class="table-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">nome</th>
      <th scope="col">descrizione</th>
      <th scope="col">Foto</th>
       <th scope="col">Prezzo</th>
       <th></th>
       <th></th>
    </tr>
  </thead>
  
  <tbody id="pizze_table" class="table-group-divider">
  
  
   
  
    
    
   
  </tbody>
  
 
</table>





</div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="script/index.js"></script>
</body>
</html>